body,
html {
  width: 100%;
  height: 100%;
  color:white;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat 
    center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}

.buffer{
  height: 100px;
}

h1{
  color:white;
  font: 3rem;
}

.btn{
  font-weight: 700;
  border-radius: 300px; /*It makes button circular*/
  text-transform: uppercase;
}

.btn-primary{
  background-color: orangered;
  border-color: orangered;
  padding: 1rem 2rem;
}

hr{
  border-color: orangered;
  border-width: 3px;
  max-width: 65px;
}
